body {
    background-color: whitesmoke;
    text-align: center;
    color:#55efc4;
}
.j-title{
    color:#334333;
}
.btn{
    cursor: pointer;
}


.clicked {
    color: #55efc4;

}

.form,
.greetings{
    display: none;
}

.showing{
    display: block;
}

@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.bgImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height : 100%;
    z-index: -1;
    animation: fadeIn 0.5s linear;

}

h5{
    color:#333333
}

h5 span:nth-child(1) {
    color:#ea4235;
}
h5 span:nth-child(2) {
    color:#fabc05;
}
h5 span:nth-child(3) {
    color:#4286f5;
}
h5 span:nth-child(4) {
    color:#34a853;
}
.search-bar{
    width:400px;
}

li span:nth-child(2){
    padding-left: 10px

}